body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Rock-Paper-Scissors.jpg");
    background-position: top center;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgb(225, 11, 11);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.choices {
    margin-bottom: 20px;
}

.choice {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#result {
    font-size: 18px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
